@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


<section class="subscribe-section">
    <h1>@Model.Value("subscriptionTitle")</h1>
    <input class="subscribe-input" type="text" placeholder="Username@domain.com">
    <a class="btn-theme" href="@Model.Value("subscriptionButtonUrl")">@Model.Value("subscriptionButtonText") <i class="fa-solid fa-arrow-up-right"></i></a>
    <img class="background-wavy-lines" src="images/background-effects/background-wavy-lines.svg" alt="">
</section>