@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;


<section class="why-choose-us">
    <div class="container">
        <div class="left-side">
            <h5 class="small-heading">@Model.Value("whyChooseUsSectionTitle")</h5>
            <h1>@Model.Value("whyChooseUsSectionHeading")</h1>
            @Html.GetBlockListHtml(Model.WhyChooseUsDetails)
        </div>
        <div class="right-side">
            <div class="box-theme-color"></div>
            <img src="images/content/amy-hirschi-K0c8ko3e6AA-unsplash.jpg" alt="">
        </div>
    </div>
</section>