@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Contact>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

<section class="company-info-contact-page">
    <div class="container">
         @Html.GetBlockListHtml(Model.ContactCompanyDetails)
    </div>
</section>